*{
  margin: 0;
  padding: 0;
}
// Define common variables for dimensions
$full-width: 100%;
$full-height: 100vh;

// Mixin for full-screen sections
@mixin fullscreen {
  width: $full-width;
  height: $full-height;
  background-size: cover;
  background-position: center;
}

html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents scrolling */
}

.image-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000; /* Optional: Adjust background color */
}

.main-entrance {
@include fullscreen;
  background-image: url('./assets/map.png'); // Default background image
}
.temp-map {
@include fullscreen;
  background-image: url('./assets/temp-map.png'); // Different background for temp page
}
.distribution{
@include fullscreen;
  background-image: url('./assets/Distribution.png'); // Different background for temp page
}

.distribution-back{
@include fullscreen;
  background-image: url('./assets/Distribution-back.png'); // Different background for temp page
}
.energy-services{
  @include fullscreen;
    background-image: url('./assets/Energy-Services.png'); // Different background for temp page
}
.energy-services-back{
  @include fullscreen;
    background-image: url('./assets/Energy-services-back.png'); // Different background for temp page
}
.generation{
  @include fullscreen;
    background-image: url('./assets/Generation.png'); // Different background for temp page
}
.generation-back{
  @include fullscreen;
    background-image: url('./assets/Generation-back.png'); // Different background for temp page
}
.the-arena{
  @include fullscreen;
    background-image: url('./assets/The-Arena.png'); // Different background for temp page
}
.the-arena-back{
  @include fullscreen;
    background-image: url('./assets/The-Arena-back.png'); // Different background for temp page
}
.transmission{
  @include fullscreen;
    background-image: url('./assets/Transmission.png'); // Different background for temp page
}
.transmission-back{
  @include fullscreen;
    background-image: url('./assets/Transmission-back.png'); // Different background for temp page
}
.water-solutions{
  @include fullscreen;
    background-image: url('./assets/Water-Solutions.png'); // Different background for temp page
}
.water-solutions-back{
  @include fullscreen;
    background-image: url('./assets/Water-Solutions-back.png'); // Different background for temp page
}
.temp-map-back{
  @include fullscreen;
    background-image: url('./assets/temp-map-back.png'); // Different background for temp page
}
.youth-hub{
  @include fullscreen;
    background-image: url('./assets/Youth-Hub.png'); // Different background for temp page
}
.youth-hub-back{
  @include fullscreen;
    background-image: url('./assets/Youth-hub-back.png'); // Different background for temp page
}
.hq-area{
@include fullscreen;
background-image: url('./assets/hq-area.png');
}
.hq-area-back {
  @include fullscreen;
  background-image: url('./assets/THE-HQ-back.png');
}
.back {
  @include fullscreen;
  background-image: url('./assets/map-back.png');
}

.main-entrance{

  .title{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 500;
  }
  .sub-title{
    font-size: 3.75rem;
    color: #049ED1;
    font-weight: 500;
  }

}

.navigation{
  margin-top: 130rem;
  .navlinks{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    a{
      color: #FFFFFF;
      text-decoration: none;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
}
.w-66{
  width: 66% !important;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards; // Longer duration and smoother easing
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}